.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align:left;
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    position:fixed;
    width:95%;
    left:0;
    top:0;
}
#topbutton{
    border-color: white;
    border-width:2px;
    padding: 10px;

}
#topbutton img{

    width: 10px;
    height: 10px;
}
.content{
    margin-top: 70px;
}
#menu{
    text-align: right;
    position: fixed;
    right: -34%;
    display: none;
    background-color: rgb(45, 45, 45);
    color: white;
    height: 100%;
    top: 60px;
    width: 33%;
}
#menu.act{
    position: fixed;
    right: 0;
}