.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align:left;
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    position:fixed;
    left:0;
    top:0;
    right:0;
    z-index: 100;
}
#topbutton{
    border-color: white;
    border-width:2px;
    padding: 10px;

}
#topbutton img{

    width: 10px;
    height: 10px;
}
.content{
    margin-top: 70px;
}
#menu{
    text-align: center;
    position: fixed;
    right: -45%;
    display: none;
    background-color: black;
    color: white;
    align-items: center;
    height: 100%;
    top: 30px;
    width: 33%;
    transition: right 0.3s ease-in-out;
    list-style: none;
    padding-top: 40px;
    z-index: 99;
}
#menu.act{
    position: fixed;
    right: 0;
}
#menu li{
    padding: 15px;
    font-size: 30px;
    font-family: "Playfair Display", serif;
    text-align: left;
    padding-left: 3px;
}
#topheading{
    font-family: Arial, Helvetica, sans-serif;
    opacity: 100%;
    text-align: center;
    letter-spacing: 2px;
    word-spacing: 4px;
    animation: fadeIn 2s;
}

@keyframes fadeIn{
    from{
        opacity: 0%;
    }
    to{
        opacity: 100%;
    }
}
#paragraph1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}