.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align:left;
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    position:fixed;
    width:98%;
    left:0;
    top:0;
}
.topbutton{
    border-color: white;
    border-width:2px;
    padding: 10px;

}
.topbutton img{

    width: 10px;
    height: 10px;
}