body{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#correct{
    color: green;
}
#incorrect{
    color: red;
}
 
#correct, #incorrect, #more-info{
    display: none;
}