

body{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#correct{
    color: green;
    display: none;
}
#incorrect{
    color: red;
    display: none;
}

#input-to-user{
  opacity: 100%;
  transition: 4s ease-in;
}
#input-to-user.incorrect{
  opacity: 0%;
}